@{
    ViewData["Title"] = "Hello Mockups";
}

<h1 class="display-4"><b>Mockups</b></h1>
<ul>
    <li><a asp-area="" asp-controller="Mockups" asp-action="Quiz">Quiz</a></li>
    <li><a asp-area="" asp-controller="Mockups" asp-action="Result">QuizResult</a></li>
</ul>